@charset "utf-8";
html{
	width: 1920px;
	height: 1080px;
}
body{
	min-width: 100%;
	min-height: 100%;
}

.heroes {	
	position: absolute;
	top: 450px;
	left: 310px;
	transition: 0.5s ease-out;
}

.heroes-grid{
	height: 100%;
	width: 80%;
	border-spacing: 20px;
}

.heroes_img {
    width: 90px;
    height: 100%;
    object-fit: cover;
	border: solid;
	border-color: #c49c59;
}

.heroes_img:hover {
	transition-delay: 0.2s ease;
	border-radius: 2px;
	border-color: #3464eb;
	transform: scale(1.3);
}

#versus {
	height: 400px;
 	width: 400px;
	top:-100px;
	left:770px;
	transition: 2s ease-out;
	position: absolute;
	opacity:0;
	text-shadow: 0 0 2px #fff;
}

#hero-left {
	height: 1080px;
 	width: 960px;
    float:left;
	background-size: cover;
	transition: 0.3s ease-out;
}

#hero-right {
	height: 1080px;
 	width: 960px;
    float: right;
	background-size: cover;
	transition: 0.3s ease-out;
	transform:scalex(-1);
}